@charset "UTF-8";
/* 
FONTS:
    font-family: 'PT Serif', serif;
    USE FOR BASIC TEXT & HYPERLINKS
    font-family: 'ars';
    USE FOR HEADERS AND FOOTERS
    font-family: 'adelle';
    USE FOR JS TOOLS
*/
@font-face{
    font-family: 'ars';
    src: url('../css/fonts/ARSMaquettePro-Regular.ttf') format('truetype');
}
@font-face{
    font-family: 'adelle';
    src: url('../css/fonts/Adelle_Reg.otf') format('opentype');
}
@media only screen and (min-width: 700px) and (max-width: 2500px) {
/*Index PAGE*/
.wrapper1{
    display: grid;
    background: no-repeat;
    grid-template-columns: repeat(23, 45px);
    grid-template-rows: repeat(28, 50px);
    grid-gap: 5px;
    background-color: white;

}
}

@media only screen and (min-width: 351px) and (max-width: 699px) {
    

}
@media only screen and (max-width: 350px) {



}
