@charset "UTF-8";
/* 
FONTS:
    font-family: 'PT Serif', serif;
    USE FOR BASIC TEXT & HYPERLINKS
    font-family: 'ars';
    USE FOR HEADERS AND FOOTERS
    font-family: 'adelle';
    USE FOR JS TOOLS
*/
@font-face{
    font-family: 'ars';
    src: url('../css/fonts/ARSMaquettePro-Regular.ttf') format('truetype');
}
@font-face{
    font-family: 'adelle';
    src: url('../css/fonts/Adelle_Reg.otf') format('opentype');
}
@media only screen and (min-width: 1281px) and (max-width: 2500px) {
    .container{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 10% 20% 60% 10%;
        display: grid;
    }
    .head{
        grid-row-start: 2;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .nav{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    
    .foot{
        grid-row-start: 1;
        grid-row-end: 4;
        grid-column-start: 4;
        grid-column-end: 5;
    }
}

@media only screen and (min-width: 700px) and (max-width: 1280px) {
    /*TABLET PORTRAIT*/
    .container{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 10% 20% 60% 10%;
        display: grid;
    }


}
@media only screen and (min-width: 700px) and (max-width: 1280px) and (orientation: landscape) {



}


@media only screen and (min-width: 351px) and (max-width: 699px) {
    

}
