@charset "UTF-8";
/* 
FONTS:
    font-family: 'PT Serif', serif;
    USE FOR BASIC TEXT & HYPERLINKS
    font-family: 'ars';
    USE FOR HEADERS AND FOOTERS
    font-family: 'adelle';
    USE FOR JS TOOLS
*/
@font-face{
    font-family: 'ars';
    src: url('../css/fonts/ARSMaquettePro-Regular.ttf') format('truetype');
}
@font-face{
    font-family: 'adelle';
    src: url('../css/fonts/Adelle_Reg.otf') format('opentype');
}
@media only screen and (min-width: 1281px) and (max-width: 2500px) {
    .container{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 10% 20% 1fr 1fr 1fr 10%;
        display: grid;
    }
    
    .head{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 4;
        text-align: center;
    }
    .navbutton{
        display: inline;
    }
    .logo{
        width: 7.5%;
        position: absolute;
        top: 0px;
        right: 0px;
    }
    .nav{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
        padding: 30px;
    }

    .foot{
        grid-row-start: 6;
        grid-row-end: 7;
        grid-column-start: 1;
        grid-column-end: 4;
    }
    /*INDEX PAGE */
    .explain{
        grid-row-start: 2;
        grid-row-end: 6;
        grid-column-start: 1;
        grid-column-end: 4;
        text-align: center;
        padding: 20px;
        margin: 20px;
    }
    .explainheader{
        font-size: 300%;
    }
    .explaintxt{
        font-size: 200%;
    }
    .index1, .index2{
        width: 30%;
        height: 50%;
        padding: 30px;
    }
    /*ABOUT ME PAGE*/
    .contact{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 4;
        height: 100%;
        position: relative;
    }
    .contacttxt{
        z-index: 2;
        margin-top: 0px;
    }
    .contactme{
        width: 10%;
        margin-left: auto;
        margin-right: auto;

        
    }
    .contactme1{
        position: relative;
        right: 30%;
        
    }
    .contactme3{
        position: relative;
        left: 30%;
        
    }
    .aboutme{
        grid-row-start: 3;
        grid-row-end: 6;
        grid-column-start: 1;
        grid-column-end: 3;
        position: relative;
        padding: 10px;
        font-size: 200%;
        margin: 50px;
    }
    .pictures{
        grid-row-start: 3;
        grid-row-end: 6;
        grid-column-start: 3;
        grid-column-end: 4;
        padding: 10px;
        margin: 50px;
    }
    .aboutme1{
        width: 70%;
        caption-side: top;
        position:relative;
        left: 15%;
    }
    .aboutme2{
        width: 70%;
        caption-side:top;
        position:relative;
        left: 15%;
    }
    /*RESUME PAGE*/
    .resume{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .resumetxt{
        text-align: center;
        margin-top: 0px;
    }
    .resumelogo{
        position: relative;
        left: 40%;
    }
    .resumeme{
        grid-row-start: 3;
        grid-row-end: 6;
        grid-column-start: 1;
        grid-column-end: 3;
        position: relative;
        padding: 10px;
        font-size: 200%;
        margin: 50px;
    }
    .rpictures{
        grid-row-start: 3;
        grid-row-end: 6;
        grid-column-start: 3;
        grid-column-end: 4;
        padding: 10px;
        margin: 50px;
    }
    .resume1{
        width: 80%;
    }
    .resume2{
        width: 80%;
    }
    /*CAREER PAGE*/

    .cert{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 4;
        position: relative;
    }
    .certtxt{
        z-index: 2;
    }
    .certheader{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .cert1{
        position: relative;
        width:35%;
        left: 15%;
        text-align: center;
        float: left;

    }
    .cert2{
        position: relative;
        width:35%;
        right: 15%;
        text-align: center;
        float: right;
    }
    .cert1txt,.cert2txt{
        margin-top: 30px;
    }
    .career{
        grid-row-start: 3;
        grid-row-end: 6;
        grid-column-start: 1;
        grid-column-end: 3;
        position: relative;
        padding: 10px;
        font-size: 200%;
        margin: 50px;
    }
    .cpictures{
        grid-row-start: 3;
        grid-row-end: 6;
        grid-column-start: 3;
        grid-column-end: 4;
        padding: 10px;
        margin: 50px;
    }
    .careerp1, .careerp2{
        width: 80%;
        caption-side: top;
        position:relative;
        left: 5%;
    }
    /* GALLERY PAGE */
    .gallery{
        grid-row-start: 2;
        grid-row-end: 6;
        grid-column-start: 1;
        grid-column-end: 4;
        
    }
    .friend{
        width: 20%;
        position: relative;
    }
    .lego{
        width: 20%;
        position: relative;
    }
    .barry{
        width: 20%;
        position: relative;
    }
    .maze{
        width: 20%;
        position: relative;
    }
    .az{
        width: 20%;
        position: relative;
    }
    .store{
        width: 20%;
        position: relative;
    }

}

@media only screen and (min-width: 700px) and (max-width: 1280px) {
    /*TABLET PORTRAIT*/
    .container{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 10% 20% 60% 10%;
        display: grid;
    }


}
@media only screen and (min-width: 700px) and (max-width: 1280px) and (orientation: landscape) {



}


@media only screen and (min-width: 351px) and (max-width: 699px) {
    

}
